{{>header.handlebars}}
<main role="main">
    <div class="container my-4">
        <h1>Upcoming Fixtures</h1>

        <div class="card text-center">
            <div class="card-header">
                Premier League
            </div>
            <div class="card-body">
                <h5 class="card-title">Hucktions Athletics  vs Arsenal</h5>
                <p class="card-text">Venue: CodeX Trafford</p>
            </div>
            <div class="card-footer text-muted">
                Date: 20 September 2020
                Time: 14:00SAST
            </div>
        </div>

               <div class="card text-center">
                    <div class="card-header">
                        UEFA Champions League QF's
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Bayern Munich vs Hucktions Athletics  </h5>
                        <p class="card-text">Venue: Allianz Arena</p>
                    </div>
                    <div class="card-footer text-muted">
                        Date: 26 September 2020
                        Time: 21:15SAST
                    </div>
               </div>


    </div>
</main>