{{>header.handlebars}}
<main role="main">
    <div class="container my-4">
        <h3>Schedule</h3>
        {{#each match}}
            <div class="card text-center my-4">
                <div class="card-header">
                    Premier League
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{team1}}  vs {{team2}}</h5>
                    <p class="card-text">Venue: {{venue}}</p>
                </div>
                <div class="card-footer text-muted">
                    Date: {{match_date}}
                    Time: 19:00+SAST
                </div>
            </div>
        {{/each}}
    </div>
</main>