{{>header.handlebars}}
<main role="main">
    <div class="container my-4">
        <h1>Staff</h1>
        <div class="box-btn">
            <a class="" href="/add">
                <h2>Register Player</h2>
            </a>
        </div>
        <div class="box-btn">
            <a href="/players">
<!--                <img src="..." class="img-fluid" alt="View All Players">-->
                <h2>View All Players</h2>
            </a>
        </div>
    </div>
</main>