{{>header.handlebars}}
<main role="main">
    <div class="container my-4">
        <h1>Staff</h1>
        <div class="card box-btn">
            <a class="anchors" href="/add">
                <h2>Register New Player</h2>
            </a>
        </div>
        <div class="card box-btn">
            <a class="anchors"  href="/players">
                <h2>View All Players</h2>
            </a>
        </div>
        <div class="card box-btn">
            <a  class="anchors" href="/fixtures">
                <h2>View Upcoming Fixtures</h2>
            </a>
        </div>
    </div>
</main>